// ---------- -----Colors
$color-gray: #f5f5f5;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@font-face {
  font-family: "p4h";
  src: url('../fonts/p4h.ttf') format("truetype");
}
